@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&family=Source+Sans+Pro&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
    
}

body {
    margin: 0;
    padding: 0;
    background-color: #252538;
}
.Home{
    background-color: #252538;
    background-position: center;
    overflow-x: hidden;
    position: relative;
    background-size: cover;
    height: 100vh;
    background-image: url(/afb/coderen.jpg);
    background-blend-mode: darken;
    display: flex;
    align-items: center;
    justify-content: center;
    place-items: center;
  


}
.eerstkop{
  /*display: grid;
  grid-template-columns: 1fr 1fr;
  color: rgb(247, 244, 244);
  margin-top: 8%;*/
  color: white;
  color: whitw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.tekst1{
  width: 30%;
  font-size: 23px;
}
.fotozarko{
  width: 30%;
  border-radius: 50%;
  
  
  
}
.fa{
    color: red;

}
.knoppp{
    display: inline-block;
    padding: 10px 40px;
    background-color: #33D67E;
    font-size: medium;
    color: white;
    border-radius: 20px;
    border: #33D67E;
    font-weight: 500;
    
}
.knoppp:hover{
    transform: scale(1.1);
    cursor: pointer;
    border: #33D67E;
    font-size: medium;
    
}
.naam{
    font-size: 50px;
}
.mywork{
  background-color: #252538;
  height: 100%;
  border-bottom: 3px solid #2CE27F;
  
  
}


.navbar {
    display: flex;
    
    justify-content:space-around;
    align-items: center;
    background-color: #252538;
    color: rgb(250, 247, 247);
    
    width: 100%;
    
}

.brand-title {
    font-size: 2.5rem;
    margin: .5rem;
}
.navbar-links ul {
    display: flex;
    margin: 10px;
    padding: 0;
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a {
    display: block;
    text-decoration: none;
    color: rgb(254, 245, 245);
    padding: 2rem;
    font-size: 18px;
}
.navbar-links li a:hover {
    display: block;
    text-decoration: none;
    color: #33D67E;
    transition: .1s;
    border-radius: 15px;
    border-bottom: #33D67E;
    background-color: #1d1d2a;
}





.toggle-button {
    position: absolute;
    top: 1.40rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: #33D67E;
    border-radius: 10px;
}
ul{
	list-style: none;
}
.card{
    color: rgba(255, 255, 255, 0);
}

.navbar{
    display: flex;
    

}

.overmij{
    display: grid;
    grid-template-columns: 1fr 1fr;
    color: white;
    background-color: #252538;
    border-radius: 25px;
    
}
.overmij1{
    padding: 40px;
    background-color: #252538;
    height: 100vh;
}
.skills{
    height: 100vh;
    background-color: #252538;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
}
.container{
    display: flex;
    width: 420px;
    padding: 50px 0;
    border-radius: 6px;
    background: #fff;
    flex-direction: column;
    align-items: center;
    row-gap: 30px;
}
.cirkel{
    height: 250px;
    width: 250px;
    display: flex;
    position: relative;
    border-radius: 50%;
    background: conic-gradient(#33D67E 3.6deg, #ededed 0deg);
    align-items: center;
    justify-content: center;
}
.cirkel::before{
    content: "";
    position: absolute;
    width: 210px;
    background-color: white;
    height: 210px;
    border-radius: 50%;
}
.progressie{
    position: relative;
    font-size: 40px;
    font-weight: 600;
    color: #33D67E;

}
.tekst{
    font-size: 30px;
    font-weight: 500;
    color: #606060;
}

.container1{
	position: relative;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px 100px;
}

.container1:after{
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background: url("/afb/coding.jpg") no-repeat center;
	background-size: cover;
	filter: blur(50px);
	z-index: -1;
}
.contact-box{
	max-width: 850px;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	justify-content: center;
	align-items: center;
	text-align: center;
	background-color: #fff;
	box-shadow: 0px 0px 19px 5px rgba(0,0,0,0.19);
}

.left{
	background: url("../afb/coding.jpg") no-repeat center;
	background-size: cover;
	height: 100%;
}

.right{
	padding: 25px 40px;
}

h2{
	position: relative;
	padding: 0 0 10px;
	margin-bottom: 10px;
}

h2:after{
	content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    height: 4px;
    width: 50px;
    border-radius: 2px;
    background-color: #2ecc71;
}

.field{
	width: 100%;
	border: 2px solid rgba(0, 0, 0, 0);
	outline: none;
	background-color: rgba(230, 230, 230, 0.6);
	padding: 0.5rem 1rem;
	font-size: 1.1rem;
	margin-bottom: 22px;
	transition: .3s;
}

.field:hover{
	background-color: rgba(0, 0, 0, 0.1);
}

textarea{
	min-height: 150px;
}

.btn{
	width: 100%;
	padding: 0.5rem 1rem;
	background-color: #2ecc71;
	color: #fff;
	font-size: 1.1rem;
	border: none;
	outline: none;
	cursor: pointer;
	transition: .3s;
}

.btn:hover{
    background-color: #27ae60;
    border-radius: 20px;
    transition: 0.6s;
}

.field:focus{
    border: 2px solid rgba(30,85,250,0.47);
    background-color: #fff;
}

@media screen and (max-width: 600px){
	.contact-box{
		grid-template-columns: 1fr;
	}
	.left{
		height: 200px;
	}
}



@media (max-width: 600px) {

    li a, .dropbtn {
        display: inline-block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
      }
      
      
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }
    

    .toggle-button {
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%;
        background-color:#1d1d2a;
    }
    

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links ul li {
        text-align: center;
    }

    .navbar-links ul li a {
        padding: .5rem 1rem;
    }

    .navbar-links.active {
        display: flex;
    }
    
   
    
}

@media screen and (max-width: 1000px) and (min-width: 600px) {

   
      
   
    


}
.card{
    width: 250px;
    height: 280px;
    display: inline-block;
    border-radius: 10px;
    padding: 15px 25px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 10px 15px;
    background-image: url(../afb/coding.jpg);
    background-position: center;
    background-size: cover;
    transition: transform 0.5s;
    border: solid 2px #1d1d2a;
    background-color: #1d1d2a;
    text-align: center;
    justify-content: center;
    place-content: center;
    
}   
.col{
    display: grid;
    grid-template-columns: 0.1fr 0.1fr 0.1fr 0.1fr;
    align-items: center;
    justify-content: center;
} 
.card1{
    
    -moz-box-shadow: 0 0 3px #ccc;
    -webkit-box-shadow: 0 0 3px #ccc;
    box-shadow: 0 0 14px #ccc;
}
.card2{
    
    -moz-box-shadow: 0 0 3px #ccc;
    -webkit-box-shadow: 0 0 3px #ccc;
    box-shadow: 0 0 14px #ccc;
}
.card3{
    
    -moz-box-shadow: 0 0 3px #ccc;
    -webkit-box-shadow: 0 0 3px #ccc;
    box-shadow: 0 0 14px #ccc;
    
}

.card4{
    
    -moz-box-shadow: 0 0 3px #ccc;
    -webkit-box-shadow: 0 0 3px #ccc;
    box-shadow: 0 0 14px #ccc;
}
.card:hover{
    transform: translateY(-10px);
    border: solid 2px #33D67E;
    box-shadow: none;
    background-blend-mode: darken;
    transition: 0,5s;
    color: white;
    
    
}
h5{
    color: #fff;
    text-shadow: 0 0 5px #999;
}
